{% extends 'base.html.twig' %}

{% block title %}adhesion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/EDW2425/Desktop/zest_symfony/src/Controller/AdhesionController.php</code></li>
        <li>Your template at <code>C:/Users/EDW2425/Desktop/zest_symfony/templates/adhesion/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}

{# 

{% block title %}Register{% endblock %}

{% block body %}
    <h1>adhésion</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">se connecter</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}